<html>
	<head th:replace="~{base :: head}"></head>
	<body onLoad="onLoad()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Faça sua oferta')}"></div>
			<div class="card mb-3" v-for="pedido in pedidos">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <input /></div>
								<div class="col-md-7">Data da entrega: <input /></div>
							</div>
							<div>Produto</div>
							<div><a v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div> 
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>
							</div>
						</div>
					</div>
				</div>						
			</div>
		</div>
		<script type="text/javascript">
		
			function onLoad() {
				var app = new Vue({
					el: '#ofertas',
					data: {
						pedidos : [
							{
								"id": 3,
								"nomeProduto": "Kindle 10a",
								"valorNegociado": null,
								"dataDaEntrega": null,
								"urlProduto": "https://www.amazon.com.br/gp/product/B07FQK1TS9?ref_=gw_ATF_kindle10agen&pf_rd_r=0D8F74SWX609FC9MBNB4&pf_rd_p=8f35c8d7-5bcf-42b1-814e-9326b9365fb2&pd_rd_r=d0fbdabd-f923-4c13-afda-e54705852c31&pd_rd_w=IWC1S&pd_rd_wg=QQ5Ly",
								"urlImagem": "https://m.media-amazon.com/images/I/71af5gP2wgL._AC_SX679_.jpg",
								"descricao": "descrição para Kindle 10a",
								"status": "AGUARDANDO",
								"user": null
								}
							]
					}
				});
			}
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</body>
</html>